{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Register{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="username">Username</label>
        <input type="username" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Register">
    </form>
    <h3>Got an account already?</h3>
    <h4><a href="{{ url_for('user.login') }}">Log In</a></h4>
{% endblock %}